<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathmax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathMax">
        <activity
            android:name=".CalculadoraPerimetroTrapezioActivity"
            android:exported="false" />
        <activity
            android:name=".CalculadorPerimetroLosanguloActivity"
            android:exported="false" />
        <activity
            android:name=".CalculadoraPerimetroTrianguloActivity"
            android:exported="false" />
        <activity
            android:name=".CalculadoraPerimetroRetanguloActivity"
            android:exported="false" />
        <activity
            android:name=".CalculadoraPerimetroQuadradoActvity"
            android:exported="false" />
        <activity
            android:name=".CalculadoraRadiciacaoActivity"
            android:exported="false" />
        <activity
            android:name=".CalculadoraMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CadastrarActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SobreActivity"
            android:exported="false" />
        <activity
            android:name=".Potenciacao"
            android:exported="false" />

        <activity
            android:name=".figuras.QuadradoActivity"
            android:exported="false" />

        <activity
            android:name=".figuras.RetanguloActivity"
            android:exported="false" />

        <activity
            android:name=".figuras.TrianguloActivity"
            android:exported="false" />

        <activity
            android:name=".figuras.LosangoActivity"
            android:exported="false" />

        <activity
            android:name=".figuras.TrapezioActivity"
            android:exported="false" />

        <activity
            android:name=".figuras.CirculoActivity"
            android:exported="false" />

        <activity
            android:name=".figuras.CirculoComprimentoActivity"
            android:exported="false" />
        <activity
            android:name=".Spreech"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>